<link rel="stylesheet" type="text/css" th:href="@{/style.css}" xmlns:th="http://www.w3.org/1999/xhtml">
<h1 th:text="${question.subject}" xmlns:th="http://www.w3.org/1999/xhtml"></h1>
<div th:text="${question.content}" xmlns:th="http://www.w3.org/1999/xhtml"></div>

<h5 th:text="|${#lists.size(question.answerList)}개의 답변이 있습니다.|" xmlns:th="http://www.w3.org/1999/xhtml"></h5>
<div>
    <ul>
        <li th:each="answer : ${question.answerList}" th:text="${answer.content}" xmlns:th="http://www.w3.org/1999/xhtml"></li>
    </ul>
</div>

<form th:action="@{|/answer/create/${question.id}|}" method="post" xmlns:th="http://www.w3.org/1999/xhtml">
    <textarea name="content" id="content" rows="15"></textarea>
    <input type="submit" value="답변등록">
</form>